<% provide(:title, @taxon.name) %>
<%= render 'partial/light_section', shop: true %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'partial/taxonomies', taxonomies: @taxonomies %>
        <%= render 'partial/search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'partial/filters' %>
        <div class="row">
          <%= render partial: 'partial/grid', collection: @products, as: "product" %>
        </div>
      </div>
    </div>  
  </div>
</section>

<%= render 'partial/partners' %>
